
<mat-toolbar color="primary">
  <a mat-button href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <a mat-button [routerLink]="['profile']">Profile</a>
  <a mat-button [routerLink]="['users']">Users</a>
  <a mat-button [routerLink]="['adduser']">Add User</a>
  <a mat-button [routerLink]="['updateuser']">Update User</a>
  <a mat-button [routerLink]="['deleteuser']">Delete User</a>

  <button mat-raised-button *ngIf="!loggedIn" (click)="login()">Login</button>
  <button mat-raised-button *ngIf="loggedIn" (click)="logout()">Logout</button>
</mat-toolbar>
<div class="container">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <router-outlet *ngIf="!isIframe"></router-outlet>
</div>
